.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.container {
  position: absolute;
  width: 1440px;
  height: 800px;
  background: #d5e1ef;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card {
  position: relative;
  width: 330px;
  height: 500px;
  background: #ffffff;
  top: 150px;
  left: 555px;
  border-radius: 20px;
}

.code {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 15px;
  top: 15px;
  left: 15px;
}

h1 {
  text-align: center;
  font-size: x-large;
}

p {
  text-align: center;
}
